project:
  name:  <add your project name>
instance:
  name: <add your instance name>
  runtime: nodejs22
  region: <add your region>
  build-script: './vcrBuild.sh'
  entrypoint: [yarn, run-server]
  application-id: <add your deployment application-id>
debug:
  entrypoint: [yarn, run-server]
  application-id: <add your debug application-id>
