{
  "extends": ["../.eslintrc"],
  "rules": {
    "no-restricted-imports": ["error", {
      "paths": [
        {
          "name": "@playwright/test",
          "importNames": ["test"],
          "message": "Please import test from testWithLogging"
        }
      ],
    }],
  },
  "overrides": [
    {
        "files": [
            "./fixtures/*"
        ],
        "rules": {
            "no-restricted-imports": "off",
            "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
        },
    }
  ]
}
